html, body, header{
	height: 100%;
}
header{
	background: url(../img/fon2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

}
a{
	font-size: 1.1rem;
}


